COMPOSE_BAKE=true
# (ip addr show | grep "\binet\b.*\bdocker0\b" | awk '{print $2}' | cut -d '/' -f 1)
IP_ADDRESS=172.17.0.1 # Add this to the extra host in docker compose if you can not connect. If you're using host.docker.internal, map it to the IP in your host file.

MONGO_DATABASE=
MONGO_USERNAME=
MONGO_PASSWORD=
ARTICLE_COLLECTION=articles
MONGO_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@172.16.32.10:27017,172.16.32.20:27017,172.16.32.30:27017/testdb?authSource=admin&replicaSet=rs0

ELASTIC_URI=http://172.16.32.40:9200
ELASTIC_URI_SECURED=http://172.16.32.40:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=elastic
SSL_CERT_PASS=
LOGSTASH_PLACEHOLDER_DB_DIR=/usr/share/logstash/data

ELASTIC_API_KEY=
MONSTACHE_ES_PASS=
ENCRYPTION_KEY=
TOKEN_SECRET=

BUN_PORT=3001
BUN_ENV=development
PINO_LOG_LEVEL=trace

APP_ES_CERT_DIR='/usr/share/app/config/cert'